<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel='stylesheet' type='text/css' href='/style.css' />
    <title>Login</title>
</head>

<body>
    <section class="header-login">
        <div class="content-login">
            <div class="login-item">
                <h1 class="login-name">Sing in</h1>
                <form action="/users/login" method="POST">
                    <div>
                        <label for="email"> Please enter your email:</label>
                        <input type="email" name="email" id="email" placeholder="Email" required>
                    </div>
                    <div>
                        <label for="">Please type a password:</label>
                        <input type="password" name="password" id="password" placeholder="Your password" required>
                        <p>Forgot password?</p>
                    </div>
                    <div>
                        <input type="submit" value="Login">
                    </div>
                    <ul>
                        <% if(messages.success_msg) { %>
                            <li>
                                <%= messages.success_msg %>
                            </li>
                            <% } %>
                    </ul>
                    <ul>
                        <% if(messages.error ){ %>
                            <li>
                                <%= messages.error %>
                            </li>
                            <% } %>
                    </ul>
                    <a href="/users/register">Registration account</a>
                </form>
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("p").click(function () {
                alert("Think well!You have 3 attempts!");
            });
        });
    </script>
</body>

</html>